h2 {
    color: purple;
    text-decoration: underline;

}

.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    padding: 10px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 30px;
}

#box-red {
    background-color: red;

}

#box-orange {
    background-color: orange;
    margin-left: 30px;

}

#box-yellow {
    background-color: yellow;
    margin-left: 60px;
}

#box-green {
    background-color: green;
    margin-left: 90px;

}

#box-blue {
    background-color: blue;
    margin-left: 120px;
}

#box-violet{
    background-color: purple;
    margin-left: 150px;

}