* {
    color: #cbcbcb;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "verdana", sans-serif;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;

    border: 2px solid rgba(116, 116, 116, 0.96);
    text-align: center;
    color: #9a9a9a;
    background-color: #111111;
}

.row {
    width:100%;

    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0;
}

.column {
    float: left;
    border: 3px solid #1d1d1d;
    padding: 1px;
    /*border: 1px solid green;*/
    margin: 0;
}
.column.one-half {
    width: 100%;
    background-color: #222222;
    padding: 0;
}

.column.one-third {
    background-color: #414141;
    width: 100%;
}

.column.one-fourth {
    background-color: #686868;
    width: 100%;
}

.column.one-eighth {
    background-color: #a0a0a0;
    width:100%;
}

@media screen and (min-width: 425px) {

    .column.one-eighth {
        width: 50%;
    }
}

@media screen and (min-width: 600px) {
    .column.one-fourth {
        width: 50%;
    }

    .column.one-eighth {
        width: 12.5%;
    }
}

@media screen and (min-width: 700px) {
    .column.one-third {
        width: 33.3333%;
    }
    .column.one-half {
        width: 50%;

    }
    .column.one-fourth {
        width: 25%;
    }
}
