* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "verdana", sans-serif;
    font-weight: bold;
}
.container {

    text-align: center;

}

.row {

    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0;
}

.column {
    float: left;
    width: 100%;

}
.one-half {
    padding: 0;
}

.one-third {

}

.one-fourth {

}

.one-eighth {
}

/*@media screen and (min-width: 425px) {*/

    /*.one-eighth {*/
        /*width: 50%;*/
        /*color: yellow;*/
        /*!*font-size: 20px;*!*/
    /*}*/
/*}*/

/*@media screen and (min-width: 660px) {*/
    /*.one-fourth {*/
        /*width: 50%;*/
        /*color: yellow;*/
        /*!*font-size: 20px;*!*/
    /*}*/

    /*.one-eighth {*/
        /*width: 12.5%;*/
        /*color: darkorange;*/
        /*!*font-size: 25px;*!*/
    /*}*/
/*}*/

@media screen and (min-width: 768px) {
    .one-third {
        width: 33%;
    }

    .two-thirds {
        width: 66%;
        float: left;
    }

    .one-half {
        width: 50%;
    }

    .one-fourth {
        width: 25%;
    }

    .one-eighth {

    }
}
