/* CSS */

/** {*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/

 * {
     color: #b4b4b4;
     box-sizing: border-box;
     font-family: "Trebuchet MS", "verdana", sans-serif;
 }
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;

    border: 2px solid rgba(116, 116, 116, 0.96);
    text-align: center;
    color: #9a9a9a;
    background-color: #111111;
}

.row {
    width:100%;

    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin: 0;
}

.column {
    float: left;
    border: 3px solid #1d1d1d;
    padding: 1px;
    /*border: 1px solid green;*/
    margin: 0;
}
.column.one-half {
    width: 50%;
    background-color: #222222;
    /*border: 1px dashed blue;*/
    padding: 0;
    /*margin: 1px;*/
}

.column.one-third {
    background-color: #333333;
    width: 33.33%;
    padding: 0;
}

.column.one-fourth {
    background-color: #444444;
    width: 25%;
    padding:0;
}

.column.one-eighth {
    background-color: #888888;
    /*border: 1px solid orange;*/
    width: 12.5%;
    padding:0;
}




@media screen and (max-width: 768px) {
    .column.one-third,
    .column.one-half,
    .column.one-fourth,
    .column.one-eighth {
        width: 100%;
    }
}