
body {
    font-family: "Trebuchet MS","verdana", sans-serif;
    background-color: #D3D8C9;
}

.side-nav {
     background-color: #9A9F90;
     height: 100%;
     width: 210px;
     position: fixed;
     /*z-index: 1;*/
     top: 0;
     left: 0;
     /*overflow-x: hidden;*/
     padding-top: 15px;
     /*padding-left: 10px;*/
     /*float: left;*/
 }

ul {
     list-style: none;

}

li {
    text-indent: 2em;
}
h1 {
    color: #5E7361;
    /*font-size: 30px;*/
}

.main {
    /*height: 100%;*/
    margin-left: 200px; /* Same as the width of the side-nav +10px */
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*font-size: 28px; !* Increased text to enable scrolling *!*/
    padding: 1px 20px;

}
