body {
    box-sizing: border-box;
}


.jumbotron {
    background-image: url("../img/pizza.png");
    text-align: center;
    background-color: #FFFFFF;

}

.display-4 {
    background-color: #FFFFFF;
    opacity: 0.5;
    /*width: 100%;*/

}

.btn-primary {
    width: 20%;
}

.outer{
    background-color: #2E7CF6;
    margin: 10px;
    padding: 5px;
}
