/*
multi
line
comment
*/
body {
    background-image: url("../img/green.jpg");
    font-family:helvetica, sans-serif
    }
.fancy-header {
    color: #29a2aa; /* single line comment */
    text-decoration: underline;
    text-align:center;

}

h1, h2, h3, h4 {

    text-decoration: underline;
    color: #19851e
}
p {
    text-align:center
}
.extra-large {

    font-size: 50px
}

#prices {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#prices td, #prices th {
    border: 1px solid #ddd;
    padding: 8px;
}

#prices tr:nth-child(even){background-color: #f2f2f2;}

#prices tr:hover {background-color: #ddd;}

#prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #19851e;
    color: white;
}

ul {
    list-style: circle
}

footer {
    color: white
}

a:link {
    color: #19851e;
}
a:hover {
    color: red
}