/*
multi
line
comment
*/
body {
    background-image: url("../img/blue.jpg");
    }
.fancy-header {
    color: rgba(220, 213, 72, 0.45); /* single line comment */
    text-decoration: underline;
}

.extra-large {

    font-size: 50px
}