/*
multi
line
comment
*/
body {
   /* background-image: url("../img/green-grad.jpg"); */
    font-family:helvetica, sans-serif;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 50px
    }
.fancy-header {
    color: #4f2080; /* single line comment */
    text-decoration: underline;
    text-align:center;

}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    padding-top: 20px;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 10px 10px;
}



/*.header {
    margin: 0px;
    backround-color: red;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 50px


}
*/
h1, h2, h3, h4 {

    text-decoration: underline;
    color: #343434
}
p {
    text-align:center
}
.extra-large {

    font-size: 50px
}

#prices {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#prices td, #prices th {
    border: 1px solid #ddd;
    padding: 8px;
}

#prices tr:nth-child(even){background-color: #f2f2f2;}

#prices tr:hover {background-color: #ddd;}

#prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #19851e;
    color: white;
}

ul {
    list-style: circle
}

footer {
    color: white
}

a:link {
    color: #19851e;
}
a:hover {
    color: red
}